/*styling.css*/


/*add font family, background image*/

body {
    background: url() center center fixed;
    background-image: url('Images/road.jpg');
    background-size: cover;
    color: #fff;
    font-family: Arvo, serif;
    height: 100%;
}


/*map*/

#googleMap {
    width: 100%;
    height: 400px;
    margin: 10px auto;
}


/*output box*/

#output {
    text-align: center;
    font-size: 2em;
    margin: 20px auto;
}

#distance {
    text-align: center;
    font-size: 2em;
    margin: 20px auto;
}

#floating-panel {
    position: absolute;
    top: 50px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 50px;
    border: 1px solid #999;
    text-align: center;
    font-family: "Roboto", "sans-serif";
    line-height: 30px;
    padding-left: 10px;
}

#right-panel {
    font-family: "Roboto", "sans-serif";
    line-height: 30px;
    padding-left: 10px;
}

#right-panel select,
#right-panel input {
    font-size: 15px;
}

#right-panel select {
    width: 100%;
}

#right-panel i {
    font-size: 12px;
}

#right-panel {
    height: 100%;
    float: right;
    width: 390px;
    overflow: auto;
}

#map {
    margin-right: 400px;
}

#floating-panel {
    background: #fff;
    padding: 5px;
    font-size: 14px;
    font-family: Arial;
    border: 1px solid #ccc;
    box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
    display: none;
}

@media print {
    #map {
        height: 500px;
        margin: 0;
    }
    #right-panel {
        float: none;
        width: auto;
    }
}