# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Django
venv
_pycache_

# React dependencies
*node_modules
/.pnp
.pnp.js
.vscode
.idea
.env
*__pycache__

# testing
/coverage

# production
backend/build
frontent/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.eslintcache

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#virtualenv
myenv
Pipfile

# jupyter
*.ipynb
*.ipynb_checkpoints